table{
    font-family: system-ui;
    border-collapse: collapse;
    width: 90%;
  }
  
td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
tr:nth-child(even) {
  background-color: #f2f2f2;
}
  
tr:hover {background-color: #ddd;}
  
th {
    padding: 12px 10px 12px 10px;
    text-align: left;
    background-color: #3b6bb4;
    color: white;
}

.btn {
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }